################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.sass-cache/a7af89c174adecc4fd1b0d6b0c4d376c5486ab2c
